<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Details of person</h3>
      </div>
      <div ng-show="$ctrl.loading" class="box-body">
        <loading-data active="true"></loading-data>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <dl ng-hide="$ctrl.loading" class="dl-horizontal">
              <dt>First Name</dt>
              <dd>{{$ctrl.person.first_name}}</dd>
              <dt>Last Name</dt>
              <dd>{{$ctrl.person.last_name}}</dd>
              <dt>Gender</dt>
              <dd>{{$ctrl.person.gender}}</dd>
              <dt>Email</dt>
              <dd>{{$ctrl.person.email}}</dd>
              <dt>City</dt>
              <dd>{{$ctrl.person._city.name+", "+$ctrl.person._city._country.name}}</dd>
              <dt>Date born</dt>
              <dd>{{$ctrl.person.date_born*1000 | date: 'dd/MM/yyyy'}}</dd>
              <dt>Date dead</dt>
              <dd>{{$ctrl.person.date_dead*1000 | date: 'dd/MM/yyyy'}}</dd>
              <dt>Biografy</dt>
              <dd>{{$ctrl.person.biografy}}</dd>
            </dl>
          </div>
          <div class="col-xs-12 col-md-4">
            <img ng-src="{{$ctrl.person._avatar.url}}" style="width: 120px; height: 120px; border-radius: 0px solid 50px;">
          </div>
        </div>
        <my-show-list title="Websites" data="$ctrl.person._websites" attr="url"></my-show-list>
        <my-show-list title="Titles" data="$ctrl.person._titles" attr="name"></my-show-list>
        <my-show-list title="Dance Styles" data="$ctrl.person._dance_styles" attr="name"></my-show-list>
        <my-show-list title="Venues" data="$ctrl.person._venues" attr="name"></my-show-list>
      </div>
    </div>
  </div>
</div>