<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-school">List of schools</h3>
        <div class="box-tools pull-right">
          <span data-toggle="tooltip" school="" class="badge bg-light-blue">
            {{$ctrl.schools.length}}
          </span>
          <a ui-sref="users.schoolsAdd" class="btn">
            <i class="fa fa-plus"></i> Add
          </a>
        </div>
      </div>
      <div class="box-body">
        <loading-data active="$ctrl.loading"></loading-data>
        <div ng-show="!$ctrl.loading && $ctrl.schools.length==0" class="callout callout-info">
          <p>There are not schools</p>
        </div>
        <table ng-show="!$ctrl.loading && $ctrl.schools.length>0" class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Type</th>
              <th style="width: 20%">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="school in $ctrl.schools track by $index">
              <td>{{$index+1}}</td>
              <td>{{school.name}}</td>
              <td>{{school.address}}</td>
              <td>{{school.phone}}</td>
              <td>{{school.type}}</td>
              <td>
                <a ui-sref="users.schoolsDetails({id: school.id})" class="btn btn-success" title="Detelles">
                  <i class="fa fa-search"></i>
                </a>
                <a ui-sref="users.schoolsEdit({id: school.id})" class="btn btn-primary" title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
                <a ng-click="$ctrl.delete($index)" class="btn btn-danger" title="Eliminar">
                  <i class="fa fa-remove"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>