<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Details of venue</h3>
      </div>
      <div ng-show="$ctrl.loading" class="box-body">
        <loading-data active="true"></loading-data>
      </div>
      <div class="box-body">
        <dl ng-hide="$ctrl.loading" class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{$ctrl.venue.name}}</dd>
          <dt>Address</dt>
          <dd>{{$ctrl.venue.address}}</dd>
          <dt>Phone</dt>
          <dd>{{$ctrl.venue.phone}}</dd>
          <dt>City</dt>
          <dd>{{$ctrl.venue._city | city}}</dd>
          <dt>Description</dt>
          <dd>{{$ctrl.venue.description}}</dd>
        </dl>
        <my-show-list title="Websites" data="$ctrl.venue._websites" attr="url"></my-show-list>
      </div>
    </div>
  </div>
</div>