<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div ng-show="$ctrl.loading" class="box-body">
        <loading-data active="true"></loading-data>
      </div>
      <div ng-show="$ctrl.ok" class="box-body">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{$ctrl.user.name}}</dd>
        </dl>
      </div>
      <form ng-show="!$ctrl.loading && !$ctrl.ok" ng-submit="$ctrl.submit()" name="form" novalidate>
        <div class="box-body">
          <my-input ng-if="$ctrl.action=='Add'" name="user" form=form label="User" placeholder="User" model="$ctrl.user.user" required=true error="$ctrl.errors.user"></my-input>
          <my-input name="first_name" form=form label="First name" placeholder="First name" model="$ctrl.user.first_name" required=true error="$ctrl.errors.first_name"></my-input>
          <my-input name="last_name" form=form label="Last name" placeholder="Last name" model="$ctrl.user.last_name" required=true error="$ctrl.errors.last_name"></my-input>
          <my-input ng-if="$ctrl.action=='Add'" type="password" name="pass" form=form label="Password" placeholder="Password" model="$ctrl.user.pass" required=true error="$ctrl.errors.pass"></my-input>
        </div>
        <div class="box-footer ">
          <button type="submit " class="btn btn-primary " ng-click="form.submit()" ng-disabled="form.$invalid ">
            {{$ctrl.action}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>