<div class="box box-primary">
  <div class="box-header ui-sortable-handle" style="cursor: move;">
    <h3 class="box-title">{{$ctrl.title}}</h3>

    <!-- <div class="box-tools pull-right">
      <ul class="pagination pagination-sm inline">
        <li><a href="#">1</a></li>
      </ul>
    </div> -->
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
    </div>
  </div>
  <div class="box-body">
    <form name="form">
      <div class="input-group input-group-sm">
        <input type="text" ng-model="$ctrl.text" ng-keypress="$ctrl.handleEnter($event)" class="form-control">
        <span class="input-group-btn">
        <button type="button"  ng-click="$ctrl.handleEnter()" class="btn btn-info btn-flat">{{$ctrl.action}}</button>
        <button type="button" ng-show="$ctrl.action=='Edit'"  ng-click="$ctrl.action='Add'" class="btn btn-default btn-flat">Cancel</button>
      </span>
      </div>
    </form>
  </div>
  <div class="box-footer clearfix no-border">
    <ul class="todo-list ui-sortable">
      <li ng-repeat="tag in $ctrl.model track by $index">
        <span class="text">{{tag}}</span>
        <div class="tools">
          <i ng-show="$ctrl.canEdit" ng-click="$ctrl.edit($index)" class="fa fa-edit"></i>
          <i ng-show="$ctrl.canRemove" ng-click="$ctrl.remove($index)" class="fa fa-trash-o"></i>
        </div>
      </li>
    </ul>
  </div>
</div>