<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{{$ctrl.action}} person</h3>
      </div>
      <div ng-show="$ctrl.loading" class="box-body">
        <loading-data active="true"></loading-data>
      </div>
      <form ng-show="!$ctrl.loading && !$ctrl.ok" ng-submit="$ctrl.submit()" name="form" novalidate>
        <div class="box-body">
          <my-tabs>
            <my-tabs-pane selected="true" title="Data of person">
              <div class="row">
                <div class="col-xs-12 col-md-8">
                  <my-input name="first_name" form=form label="First name" placeholder="First name" model="$ctrl.person.first_name" required=true error="$ctrl.errors.first_name"></my-input>
                  <my-input name="last_name" form=form label="Last name" placeholder="Last name" model="$ctrl.person.last_name" required=true error="$ctrl.errors.last_name"></my-input>
                  <my-input type="email" name="email" form=form label="Email" placeholder="Email" model="$ctrl.person.email" required=true error="$ctrl.errors.email"></my-input>
                </div>
                <div class="col-xs-12 col-md-4">
                  <my-input-file name="_avatar" model="$ctrl.person._avatar" label="Select image" form="form" error="$ctrl.form.errors._avatar"></my-input-file>
                </div>
              </div>
              <my-select model="$ctrl.person._city" label="City" data="$ctrl.cities" error="$ctrl.errors._city"></my-select>
              <my-select model="$ctrl.person.gender" label="Gender" data="[{id: 'M', text: 'Masculino'}, {id: 'F', text: 'Femenino'}]" required=true error="$ctrl.errors.gender"></my-select>
              <my-tags-list title="Websites" model="$ctrl.person._websites" can-edit="true" can-remove="true"></my-tags-list>
              <my-input-date name="date_born" form=form label="Date born" model="$ctrl.person.date_born" error="$ctrl.errors.date_born"></my-input-date>
              <my-input-date name="date_dead" form=form label="Date dead" model="$ctrl.person.date_dead" error="$ctrl.errors.date_dead"></my-input-date>
              <my-textarea row="3" name="biografy" form=form label="Biografy" placeholder="Biografy" model="$ctrl.person.biografy" error="$ctrl.errors.biografy"></my-textarea>
            </my-tabs-pane>
            <my-tabs-pane title="Titles">
              <my-tags-select-list model="$ctrl.person._titles" data="$ctrl.titles"></my-tags-select-list>
            </my-tabs-pane>
            <my-tabs-pane title="Dance Styles">
              <my-tags-select-list model="$ctrl.person._dance_styles" data="$ctrl.dance_styles"></my-tags-select-list>
            </my-tabs-pane>
            <my-tabs-pane title="Venues">
              <my-tags-select-list model="$ctrl.person._venues" data="$ctrl.venues"></my-tags-select-list>
            </my-tabs-pane>
          </my-tabs>
        </div>
        <div class="box-footer ">
          <button type="submit " class="btn btn-primary " ng-click="form.submit()">
            {{$ctrl.action}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>