<div class="login-box">
  <div class="login-logo">
    <b>LOGO</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Change password</p>

    <form name="loginForm" ng-submit="$ctrl.change_password()" novalidate>
      <div class="form-group" ng-class="{'has-error':$ctrl.errors.user}">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" readonly id="user" ng-model="$ctrl.model.user" placeholder="User">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error' : $ctrl.errors.pass} ">
        <label ng-if="$ctrl.errors.pass" class="control-label" for="pass">{{$ctrl.errors.pass}}</label>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" id="pass" ng-model="$ctrl.model.pass" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error' : $ctrl.errors.new_pass} ">
        <label ng-if="$ctrl.errors.new_pass" class="control-label" for="new_pass">{{$ctrl.errors.new_pass}}</label>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" id="new_pass" ng-model="$ctrl.model.new_pass" placeholder="Nueva cotraseña">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-block btn-primary btn-flat">Change</button>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
          <button type="button" ng-click="$ctrl.back()" class="btn btn-block btn-default btn-flat">Back</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>