<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Details de work</h3>
      </div>
      <div ng-show="$ctrl.loading" class="box-body">
        <loading-data active="true"></loading-data>
      </div>
      <div class="box-body">
        <dl ng-hide="$ctrl.loading" class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{$ctrl.work.name}}</dd>
          <dt>Runtime</dt>
          <dd>{{$ctrl.work.runtime}}</dd>
          <dt>Description</dt>
          <dd>{{$ctrl.work.description}}</dd>
          <dt>Premiere date</dt>
          <dd>{{$ctrl.work.premiere_date*1000 | date: 'dd/MM/yyyy'}}</dd>
          <dt>Company</dt>
          <dd>{{$ctrl.work._premiere_company.name}}</dd>
          <dt>Premier venue</dt>
          <dd>{{$ctrl.work._premiere_venue.name}}</dd>
          <dt>Characters</dt>
          <dd>{{$ctrl.work.characters}}</dd>
          <dt>Licensing info</dt>
          <dd>{{$ctrl.work.licensing_ingo}}</dd>
        </dl>
        <my-show-list title="Dance Styles" data="$ctrl.work._dance_styles" attr="name"></my-show-list>
        <my-show-list title="Persons" data="$ctrl.work._persons" attr="first_name"></my-show-list>
      </div>
    </div>
  </div>
</div>