<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-person">List of works</h3>
        <div class="box-tools pull-right">
          <span data-toggle="tooltip" person="" class="badge bg-light-blue">
            {{$ctrl.works.length}}
          </span>
          <a ui-sref="users.worksAdd" class="btn">
            <i class="fa fa-plus"></i> Add
          </a>
        </div>
      </div>
      <div class="box-body">
        <loading-data active="$ctrl.loading"></loading-data>
        <div ng-show="!$ctrl.loading && $ctrl.works.length==0" class="callout callout-info">
          <p>There are not work added</p>
        </div>
        <table ng-show="!$ctrl.loading && $ctrl.works.length>0" class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Runtime</th>
              <th>Premiere date</th>
              <th style="width: 20%">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="person in $ctrl.works track by $index">
              <td>{{$index+1}}</td>
              <td>{{person.name}}</td>
              <td>{{person.runtime}}</td>
              <td>{{person.premiere_date*1000 | date: 'dd/MM/yyyy'}}</td>
              <td>
                <a ui-sref="users.worksDetails({id: person.id})" class="btn btn-success" title="Detelles">
                  <i class="fa fa-search"></i>
                </a>
                <a ui-sref="users.worksEdit({id: person.id})" class="btn btn-primary" title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
                <a ng-click="$ctrl.delete($index)" class="btn btn-danger" title="Eliminar">
                  <i class="fa fa-remove"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>