<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Company details</h3>
      </div>
      <div ng-show="$ctrl.loading" class="box-body">
        <loading-data active="true"></loading-data>
      </div>
      <div class="box-body">
        <dl ng-hide="$ctrl.loading" class="dl-horizontal">
          <dt>Name</dt>
          <dd>{{$ctrl.company.name}}</dd>
          <dt>Address</dt>
          <dd>{{$ctrl.company.address}}</dd>
          <dt>Phone</dt>
          <dd>{{$ctrl.company.phone}}</dd>
          <dt>City</dt>
          <dd>{{$ctrl.company._city.name + ", " + $ctrl.company._city._country.name}}</dd>
          <dt>Description</dt>
          <dd>{{$ctrl.company.description}}</dd>
          <dt>History</dt>
          <dd>{{$ctrl.company.history}}</dd>
        </dl>
        <my-show-list title="Websites" data="$ctrl.company._websites" attr="url"></my-show-list>
        <my-show-list title="Dance Styles" data="$ctrl.company._dance_styles" attr="name"></my-show-list>
        <my-show-list title="Works" data="$ctrl.company._works" attr="name"></my-show-list>
        <my-show-list title="Persons" data="$ctrl.company._persons" attr="first_name"></my-show-list>
        <my-show-list title="Schools" data="$ctrl.company._schools" attr="name"></my-show-list>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>