<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Add school</h3>
      </div>
      <div ng-show="$ctrl.loading" class="box-body">
        <loading-data active="true"></loading-data>
      </div>
      <form ng-show="!$ctrl.loading && !$ctrl.ok" ng-submit="$ctrl.submit()" name="form" novalidate>
        <div class="box-body">
          <my-tabs>
            <my-tabs-pane selected="true" title="Data of school">
              <div class="row">
                <div class="col-xs-12 col-md-8">
                  <my-input name="name" form=form label="Name" placeholder="Name" model="$ctrl.school.name" required=true error="$ctrl.errors.name"></my-input>
                  <my-input name="address" form=form label="Address" placeholder="Address" model="$ctrl.school.address" required=true error="$ctrl.errors.address"></my-input>
                  <my-input type="text" name="phone" form=form label="Phone" placeholder="Phone" model="$ctrl.school.phone" error="$ctrl.errors.phone"></my-input>
                </div>
                <div class="col-xs-12 col-md-4">
                  <my-input-file name="_avatar" model="$ctrl.school._avatar" label="Select image" form="form" error="$ctrl.form.errors._avatar"></my-input-file>
                </div>
              </div>
              <my-input name="type" form=form label="Tipo" placeholder="Tipo" model="$ctrl.school.type" required=true error="$ctrl.errors.type"></my-input>
              <my-select model="$ctrl.school._city" label="City" data="$ctrl.cities" error="$ctrl.errors._city"></my-select>
              <my-tags-list title="Websites" model="$ctrl.school._websites" can-edit="true" can-remove="true"></my-tags-list>
              <my-textarea row="3" name="description" form=form label="Description" placeholder="Description" model="$ctrl.school.description" error="$ctrl.errors.description"></my-textarea>
            </my-tabs-pane>
            <my-tabs-pane title="Dance Styles">
              <my-tags-select-list model="$ctrl.school._dance_styles" data="$ctrl.dance_styles"></my-tags-select-list>
            </my-tabs-pane>
            <my-tabs-pane title="Persons">
              <my-tags-select-list model="$ctrl.school._persons" data="$ctrl.persons"></my-tags-select-list>
            </my-tabs-pane>
          </my-tabs>
        </div>
        <div class="box-footer ">
          <button type="submit " class="btn btn-primary " ng-click="form.submit()">
            {{$ctrl.action}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>