<div class="login-box">
  <div class="login-logo">
    <b>Angularjs - Codeigniter</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Start session</p>

    <form name="loginForm" ng-submit="$ctrl.login()" novalidate>
      <div class="form-group" ng-class="{'has-error':$ctrl.errors.user}">
        <label ng-if="$ctrl.errors.user" class="control-label" for="user">{{$ctrl.errors.user}}</label>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" id="user" ng-model="$ctrl.model.user" placeholder="User">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error' : $ctrl.errors.pass} ">
        <label ng-if="$ctrl.errors.pass" class="control-label" for="pass">{{$ctrl.errors.pass}}</label>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" id="pass" ng-model="$ctrl.model.pass" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Start</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>