<aside id="app_menu" class="main-sidebar">
  <section class="sidebar">
    <ul id="left_panel_menu" class="sidebar-menu">
      <li ui-sref="users.home" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li ui-sref="users.persons" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-users"></i>
          <span>Persons</span>
        </a>
      </li>
      <li ui-sref="users.companies" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-tag"></i>
          <span>Companies</span>
        </a>
      </li>
      <li ui-sref="users.works" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-eye"></i>
          <span>Works</span>
        </a>
      </li>
      <li ui-sref="users.schools" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-university"></i>
          <span>Schools</span>
        </a>
      </li>
      <li ui-sref="users.venues" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-map-marker"></i>
          <span>Venues</span>
        </a>
      </li>
      <li class="header">System data</li>
      <li ui-sref="users.dancestyles" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-magic"></i>
          <span>Dance styles</span>
        </a>
      </li>
      <li ui-sref="users.countries" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-globe"></i>
          <span>Countries</span>
        </a>
      </li>
      <li ui-sref="users.titles" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-newspaper-o"></i>
          <span>Titles</span>
        </a>
      </li>
    </ul>
  </section>
</aside>