<aside id="app_menu" class="main-sidebar">
  <section class="sidebar">
    <ul id="left_panel_menu" class="sidebar-menu">
      <li ui-sref="users.home" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-home"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li ui-sref="users.persons" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-users"></i>
          <span>Personas</span>
        </a>
      </li>
      <li ui-sref="users.companies" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-tag"></i>
          <span>Compañías</span>
        </a>
      </li>
      <li ui-sref="users.works" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-eye"></i>
          <span>Trabajos</span>
        </a>
      </li>
      <li ui-sref="users.schools" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-university"></i>
          <span>Escuelas</span>
        </a>
      </li>
      <li ui-sref="users.places" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-map-marker"></i>
          <span>Venues</span>
        </a>
      </li>
      <li class="header">Datos del sistema</li>
      <li ui-sref="users.dancestyles" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-magic"></i>
          <span>Estilos dansarios</span>
        </a>
      </li>
      <li ui-sref="users.countries" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-globe"></i>
          <span>Países</span>
        </a>
      </li>
      <li ui-sref="users.titles" ui-sref-active="active" style="cursor: pointer">
        <a>
          <i class="fa fa-newspaper-o"></i>
          <span>Títulos</span>
        </a>
      </li>
    </ul>
  </section>
</aside>