<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">List of countries</h3>
        <div class="box-tools pull-right">
          <span data-toggle="tooltip" title="" class="badge bg-light-blue">
            {{$ctrl.countries.length}}
          </span>
          <a ui-sref="users.countriesAdd" class="btn">
            <i class="fa fa-plus"></i> Add
          </a>
        </div>
      </div>
      <div class="box-body">
        <loading-data active="$ctrl.loading"></loading-data>
        <div ng-show="!$ctrl.loading && $ctrl.countries.length==0" class="callout callout-info">
          <p>There are not countries</p>
        </div>
        <table ng-show="!$ctrl.loading && $ctrl.countries.length>0" class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Name</th>
              <th>Cities</th>
              <th style="width: 20%">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="country in $ctrl.countries track by $index">
              <td>{{$index+1}}</td>
              <td>{{country.name}}</td>
              <td>
                <a ui-sref="users.cities({country_id: country.id})" class="btn btn-success">
                  <i class="fa fa-building"></i> {{country.cant_cities}}
                </a>
              </td>
              <td>
                <a ui-sref="users.countriesDetails({id: country.id})" class="btn btn-success" title="Detelles">
                  <i class="fa fa-search"></i>
                </a>
                <a ui-sref="users.countriesEdit({id: country.id})" class="btn btn-primary" title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
                <a ng-click="$ctrl.delete($index)" class="btn btn-danger" title="Eliminar">
                  <i class="fa fa-remove"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>